.signup {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupimg {
  height: 522px;
}

.signupBoundingbox {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #fff;
  max-width: 836px;
  max-height: 550px;
  width: 80%;
  height: 60%;
  box-shadow: 0 -1px 22.7px 0 rgba(0, 0, 0, 0.25);
  padding-left: 12px;
}

.signupBoundingboxText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
}

.nameAndLogo {
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.signupBoundingboxTextInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

h6 {
  font-size: 12px;
}

.signupButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.signupField {
  width: 100%;
  min-width: 380px;
  padding-top: 5px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1029px) {
  .signupimg {
    display: none;
  }
  .signupBoundingbox {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #fff;
    height: 423px;
    box-shadow: 0 -1px 22.7px 0 rgba(0, 0, 0, 0.25);
  }
  .signupBoundingboxText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
  }
  .signupBoundingboxTextInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .signupField {
    width: 100%;
    padding-top: 5px;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
