.inputContainer {
  width: 100%;
  padding: 0px 5px;
  position: relative;
}

input {
  padding: 6px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease all;
  color: #aaa;
}

.focused label {
  top: 0;
  font-size: 12px;
  color: #333;
}

.passwordToggle {
  width: 10%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eyeIcon {
  width: 20px; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.passwordToggle:hover .eyeIcon {
  fill: #333; /* Change color on hover */
}
