.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 16px;
  background: #ff682f;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  font-size: 18px;
}

.btn:hover {
  background: #d25325;
}
