.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40px;
  width: 150px; */
  padding: 10px 15px;
  gap: 10px;
  border-radius: 16px;
  background: #2a2a2a;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.btn:hover {
  background: #000000;
}
