.central-card-component {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


.card.slideInRight {
  animation: slideInFromRight 0.4s ease forwards;
}

.card.slideOutLeft {
  animation: slideOutToLeft 0.4s ease forwards;
}

.card.slideInLeft {
  animation: slideInFromLeft 0.4s ease forwards;
}

.card.slideOutRight {
  animation: slideOutToRight 0.4s ease forwards;
}




.cardContainer {
  text-align: center;
}

.cardStack {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden; 
}

.card {
  width: 300px;
  height: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(42, 42, 42, 0.75);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.previousCard {
  transform: translateX(-40px) scale(0.9); /* shift the card to prev */
  opacity: 0.8;
  z-index: 1;
}

.card.currentCard {
  transform: translateX(0) scale(1); 
  opacity: 1;
  background-color: #2a2a2a;
  z-index: 2;
}

.card.nextCard {
  transform: translateX(40px) scale(0.9); /* shift the card to next */
  opacity: 0.8;
  z-index: 1;
}

.card.fadeOut {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.card.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.question {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.separator {
  width: 80%;
  height: 1px;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.49);
  margin: 10px 0;
}

.answer {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
}

.cardHeader {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation {
  margin-top: 20px;
}

.navButton {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #2a2a2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #444;
}

/* .cardHeader-item {
  padding: 15px;
} */