.signup {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupBoundingbox {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #fff;
  max-width: 451px;
  max-height: 546px;
  width: 80%;
  height: 100%;
  box-shadow: 0 -1px 22.7px 0 rgba(0, 0, 0, 0.25);
}
.nameAndLogo {
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.nameAndLogo h3 {
  font-size: 20px;
}
.signupBoundingboxText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.signupBoundingboxTextInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.signupField {
  width: 100%;
  max-width: 384px;
  padding-top: 5px;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.signupButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* ✅ Highlight the confirm password field if passwords do not match */
.errorField {
  border: 2px solid red !important;
}

.error {
  color: red;
  font-size: 16px;
}
