@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Almarai";
}

body {
  font-family: "Almarai";
}

h3 {
  color: #949494;
  font-family: "Almarai";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: #000;
  font-family: "Almarai";
  font-size: 40.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
